idmrg.py*
*.swp
*.swl
*.swo
*.swn
*.swm
*.npy

## vscode
.ropeproject/

## this project
log/
data/
old/
notes/
**/src/config.ini

## python
__pycache__/
.ipynb_checkpoints/
*.egg-info/

## pyenv
.python-version

## python venv
.venv/

## poetry
poetry.lock
